{% extends 'base.html' %}


{% block content %}
<div style="margin-top: -1.7%;">
    <div style="background-image: url('/static/images/destine.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: white;">
        <h1 style="font-weight:500; font-size:30px;padding-top: 15%;margin-left: 5%;">5 Days Amboseli, Tsavo West & East
            Safari <br> Package</h1>
    </div>
</div>
<div style="display: inline-flex; width: 100%; height: 7em;background-color: whitesmoke;padding: 3%;font-size: 15px;">
    <p style="padding-right: 10%;padding-left: 5%;text-decoration: none;"><a href="#details"><b
                style="color: black;">Details</b></a></p>
    <p><a href="#itinery"><b style="color: black;">Itinery</b></a></p>
    <p style="padding-left: 10%;"><a href="#photos"><b style="color: black;">Photos</b></a></p>
</div>

<div style="float: right; margin-right: 5%; text-align: center;background-color: rgb(250, 246, 246); 
    margin-top: 25px;width:30%;">
    <form action="reservation.php" method="post"><br>
        <div class="container" style="text-align: start;">
            <p style="color: tomato;font-size: 15px;">Price</p>
            <h1 style="color: tomato;">From $1,580</h1><br>
            <p style="font-size: 18px;">Booking Form</p>
        </div>
        <div class="elem-group inlined">
            <label for="adult">Adults</label>
            <input type="number" id="adult" name="total_adults" placeholder="2" min="1" required>
        </div>
        <div class="elem-group inlined">
            <label for="child">Children</label>
            <input type="number" id="child" name="total_children" placeholder="2" min="0" required>
        </div>
        <div class="elem-group inlined" style="float: left;">
            <label for="checkin-date">Date</label>
            <input type="date" id="checkin-date" name="checkin" required>
        </div>
        <div class="elem-group inlined" style="padding-top: 10px;">
            <a href="#">
                <button type="submit">PROCEED TO BOOKING</button>
            </a>
        </div>

    </form>
    <hr>
    <style>
        div.elem-group {
            margin: 20px 0;
        }

        div.elem-group.inlined {
            width: 49%;
            float: right;
            margin-left: 1%;
        }


        div.elem-group.inlined input {
            width: 95%;
            display: inline-block;
        }

        button {
            height: 50px;
            background: orange;
            border: none;
            color: white;
            font-size: 1.25em;
            font-family: 'Nanum Gothic';
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            border: 2px solid black;
        }
    </style><br><br><br>

    <div style="float: right; text-align: center;background-color: rgb(187, 172, 172); margin-top: 30%;width: 100%;">
        <div style="text-align: start; font-size: 14px;margin-left: 10px;">
            <h1><b>Why Book With Us</b></h1><br>
            <p><i class="fas fa-dollar-sign"></i>No-hassle best price guarantee</p>
            <hr>
            <p><i class="fas fa-headphones"></i>Customer care available 24/7</p>
            <hr>
            <p><i class="fas fa-star"></i>Hand-picked Tours & Activities</p>
            <hr>
            <p><i class="fas fa-globe"></i>Free Travel Insureance</p>
            <hr>
        </div>
    </div><br><br>

    <div style="float: right; text-align: center;background-color: rgb(13, 179, 245); margin-top: 30%;width: 100%;">
        <div style="text-align: center; font-size: 14px; color: white;">
            <h1><b>Having any Question?</b></h1><br>
            <p>Do not hesitate to give us a call. We are an expert team and we are happy to talk to you.</p><br>
            <div style="color: yellow;">
                <p><i class="fas fa-phone-alt"></i>+254 712 345</p><br>
                <p><i class="far fa-envelope"></i><br> Customer@gmail.com</p><br>
            </div>
        </div>
    </div>
</div>

<div style="font-size: 15px;padding-left: 7%;width: 60%;">
    <h1 id="details"><b>Tour Details</b></h1><br>
    <h2><b>Highlights</b></h2>
    <ul>
        <li>Visit Lake Bogoria home of Flamingos</li>
        <li>Interact with several Kenyan communities & wildlife</li>
        <li>Witness the 8th world wonder during wildebeest migration</li>
        <li>Get a chance to see the Big 5 (Lions, Elephants, Rhinos, Buffaloes and Leopards)</li>
    </ul>
    <br>
    <b>Tour price excludes:</b>
    <ul>
        <li>Drinks</li>
        <li>Tipping</li>
        <li>Kenya Visas</li>
        <li>Personal effects</li>
        <li>Cultural visits to Masai villages</li>
    </ul>
    </p>
    <h2 id="photos"><b>Photos</b></h2> <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img src="{{url_for('static', filename='images/amb.jpg')}}" style="width:100%;height: 23em;">
            </div>

            <div class="item">
                <img src="{{url_for('static', filename='images/giraffe.jpg')}}" style="width:100%;height: 23em;">
            </div>

            <div class="item">
                <img src="{{url_for('static', filename='images/naks.jpg')}}" style="width:100%;height: 23em;">
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    </div><br><br>
    <h1 id="itinery"><b>Itinery</b></h1>
    <p style="background-color: whitesmoke; height: 3em;padding: 12px;font-size: 1.2em;"> <a href=""
            style="color: black;"><b>Day 1 <span style="color: rgb(155, 192, 79);">Nairobi - Lake Bogoria</span></b></a>
    </p>
    <div>
        <p>Pick up from your hotel/airport upon arrival, depart Nairobi and drive to the Great Rift Valley view point
            where you will have a stopover for around 15 minutes. Here you will have a chance to take pictures of the
            beautiful sceneries of the Eastern Great Rift Valley. Proceed via Nakuru town and have another stopover at
            the Equator where you will have a chance to take pictures.
        </p><br>

        <p style="background-color: whitesmoke; height: 3em;padding: 12px;font-size: 1.2em;"> <a href=""
                style="color: black;"><b>Day 2 <span style="color: rgb(155, 192, 79);">Lake Bogoria - Lake Nakuru
                    </span></b></a> </p>

        <p>After a delicious buffet breakfast depart Lake Bogoria for Lake Nakuru National Park where you will arrive at
            Flamingo Hill Camp in time for lunch. Later at around 4pm start your evening game drive across the Pink Lake
            often referred so due to its Great masses of Flamingos not forgetting the famous white Rhino and black rhino
            found in this park.
        </p><br>

        <p style="background-color: whitesmoke; height: 3em;padding: 12px;font-size: 1.2em;"> <a href=""
                style="color: black;"><b>Day 3 <span style="color: rgb(155, 192, 79);">Lake Nakuru - Masai Mara
                    </span></b></a> </p>
        <p>After early morning breakfast leave Lake Nakuru with game drives enroute for Masai Mara arriving in time for
            lunch at Mara Sopa Lodge. Later at around 4pm you will start an evening game drive in the most famous park
            and home of safaris; Masai Mara, search of the Lions, Cheetahs, Elephants, Buffaloes and other members of
            the Big five among many other wildlife. Dinner and overnight at Mara Sopa Lodge.
        </p>
        <br>

        <p style="background-color: whitesmoke; height: 3em;padding: 12px;font-size: 1.2em;"> <a href=""
                style="color: black;"><b>Day 4 <span style="color: rgb(155, 192, 79);">Full Day Game Drive in Masai Mara
                    </span></b></a> </p>
        <p>Set off early for a morning game drive to witness the animal kingdom at its most active hour, on your way to
            the famous Mara River where thousands of wildebeest and Zebras cross from Serengeti to Masai mara each year.
            Search for the park’s large populations of wildebeest, rhinoceros, buffalo, lion, leopard, elephants,
            hippos, cheetah, zebra, impala, gazelles, hartebeest, warthog, ostrich, topi and Masai giraffe.
        </p><br>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}