{% extends 'base.html' %}


{% block content %}
<div style="margin-top: -1.7%;">
    <div style="background-image: url('/static/images/destine.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: white;">
        <h1 style="font-weight:500; font-size:30px;padding-top: 15%;margin-left: 5%;">3-Day Mt. Kenya & Lake Nakuru
            Safari Package</h1>
    </div>
</div>
<div style="display: inline-flex; width: 100%; height: 7em;background-color: whitesmoke;padding: 3%;font-size: 15px;">
    <p style="padding-right: 10%;padding-left: 5%;text-decoration: none;"><a href="#details"><b
                style="color: black;">Details</b></a></p>
    <p><a href="#itinery"><b style="color: black;">Itinery</b></a></p>
    <p style="padding-left: 10%;"><a href="#photos"><b style="color: black;">Photos</b></a></p>
</div>

<div style="float: right; margin-right: 5%; text-align: center;background-color: rgb(250, 246, 246); 
    margin-top: 25px;width:30%;">
    <form action="reservation.php" method="post"><br>
        <div class="container" style="text-align: start;">
            <p style="color: tomato;font-size: 15px;">Price</p>
            <h1 style="color: tomato;">From $1,580</h1><br>
            <p style="font-size: 18px;">Booking Form</p>
        </div>
        <div class="elem-group inlined">
            <label for="adult">Adults</label>
            <input type="number" id="adult" name="total_adults" placeholder="2" min="1" required>
        </div>
        <div class="elem-group inlined">
            <label for="child">Children</label>
            <input type="number" id="child" name="total_children" placeholder="2" min="0" required>
        </div>
        <div class="elem-group inlined" style="float: left;">
            <label for="checkin-date">Date</label>
            <input type="date" id="checkin-date" name="checkin" required>
        </div>
        <div class="elem-group inlined" style="padding-top: 10px;">
            <a href="#">
                <button type="submit">PROCEED TO BOOKING</button>
            </a>
        </div>

    </form>
    <hr>
    <style>
        div.elem-group {
            margin: 20px 0;
        }

        div.elem-group.inlined {
            width: 49%;
            float: right;
            margin-left: 1%;
        }


        div.elem-group.inlined input {
            width: 95%;
            display: inline-block;
        }

        button {
            height: 50px;
            background: orange;
            border: none;
            color: white;
            font-size: 1.25em;
            font-family: 'Nanum Gothic';
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            border: 2px solid black;
        }
    </style><br><br><br>

    <div style="float: right; text-align: center;background-color: rgb(187, 172, 172); margin-top: 30%;width: 100%;">
        <div style="text-align: start; font-size: 14px;margin-left: 10px;">
            <h1><b>Why Book With Us</b></h1><br>
            <p><i class="fas fa-dollar-sign"></i>No-hassle best price guarantee</p>
            <hr>
            <p><i class="fas fa-headphones"></i>Customer care available 24/7</p>
            <hr>
            <p><i class="fas fa-star"></i>Hand-picked Tours & Activities</p>
            <hr>
            <p><i class="fas fa-globe"></i>Free Travel Insureance</p>
            <hr>
        </div>
    </div><br><br>

    <div style="float: right; text-align: center;background-color: rgb(13, 179, 245); margin-top: 30%;width: 100%;">
        <div style="text-align: center; font-size: 14px; color: white;">
            <h1><b>Having any Question?</b></h1><br>
            <p>Do not hesitate to give us a call. We are an expert team and we are happy to talk to you.</p><br>
            <div style="color: yellow;">
                <p><i class="fas fa-phone-alt"></i>+254 712 345</p><br>
                <p><i class="far fa-envelope"></i><br> Customer@gmail.com</p><br>
            </div>
        </div>
    </div>
</div>

<div style="font-size: 15px;padding-left: 7%;width: 60%;">
    <h1 id="details"><b>Tour Details</b></h1><br>
    <h2>QUATATION:</h2>
    <p>Based on a <b>private safari</b> of 4 travelers in the above mentioned accommodation: <b>USD 1580 per
            person.</b>
        <br><br><strong>NOTE: On the last day, you can opt to drive back to Nairobi for your flight to Mombasa. In
            this
            case, the quote will be USD 1520 per person.</strong><br><br>
        <b>Program costs include:</b><br>
    <ul>
        <li>All Park Entry Fees</li>
        <li>3 Meals a day</li>
        <li>1litre of water per day during game drives</li>
        <li>Services of a qualified English speaking driver guide</li>
        <li>Transport based on our customized safari Vehicle with specially modified suspension, full-length
            photographic pop up roof and seats designed with seat</li>
        <li>Full board accommodation</li>
    </ul>
    <br>
    <b>Program costs exclude:</b>
    <ul>
        <li>Visas fees , Inoculation and personal insurance</li>
        <li>Domestic & International Flights and airline taxes</li>
        <li>Optional activities and excursions/tips</li>
        <li>Items of personal nature such as beverages, telephone, laundry, etc.</li>
        <li>Nairobi accommodation before and after the safari</li>
    </ul>
    </p>
    <h1 id="itinery"><b>Itinery</b></h1>
    <p style="background-color: whitesmoke; height: 3em;padding: 12px;font-size: 1.2em;"> <a href=""
            style="color: black;"><b>Day 1 <span style="color: rgb(155, 192, 79);">Nairobi - Mt. Kenya</span></b></a>
    </p>
    <div>
        <p>Pick up from your hotel/residence at 7:00am, leave Nairobi and drive toward central Kenya to arrive at Naro
            Moru River Lodge around 9:30am. You will take your packed lunch and start the hiking right away.
        </p><br>

        <p style="background-color: whitesmoke; height: 3em;padding: 12px;font-size: 1.2em;"> <a href=""
                style="color: black;"><b>Day 2 <span style="color: rgb(155, 192, 79);">Mt. Kenya - Lake Nakuru
                    </span></b></a> </p>

        <p>After breakfast drive down the escarpment via the floor of the Great Rift Valley and arrive at Lake Nakuru,
            Flamingo Hill Camp in time for lunch. After lunch start game drives in this park where you will be welcomed
            by the Columbus Monkeys which has become friendly to the travelers though sometimes they may become
            unfriendly when denied to access in your car.
        </p><br>

        <p style="background-color: whitesmoke; height: 3em;padding: 12px;font-size: 1.2em;"> <a href=""
                style="color: black;"><b>Day 3 <span style="color: rgb(155, 192, 79);">Lake Nakuru - Back To Nairobi
                    </span></b></a> </p>
        <p>After breakfast start game viewing at Lake Nakuru National Park, where you will have a chance to visit a
            unique sanctuary catering for a sizable number of the endangered rhinoceros and the Rothschild giraffe.
            Water bucks as well as the predators such as the lion and leopard are common at the park. Also to be seen is
            a myriad different variety of bird life in and around the lake.
        </p>
        <br>
        <h2 id="photos"><b>Photos</b></h2> <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{{url_for('static', filename='images/amb.jpg')}}" style="width:100%;height: 23em;">
                </div>

                <div class="item">
                    <img src="{{url_for('static', filename='images/giraffe.jpg')}}" style="width:100%;height: 23em;">
                </div>

                <div class="item">
                    <img src="{{url_for('static', filename='images/naks.jpg')}}" style="width:100%;height: 23em;">
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
        </div><br><br>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}