{% extends 'base.html' %}

{% block content %}
<div style="margin-top: -1.7%;">
    <div style="background-image: url('/static/images/destine.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: white;">
        <h1 style="font-weight:700; font-size:100px;padding-top: 9%;margin-left: 5%;">Mt Kilimanjaro</h1>
    </div>
</div>
<div class="container-fluid" style="width: 80%;margin-top: 7em;">
    <h1><strong>TOUR COMING SOON...</strong></h1>
</div>
<div class="container" style="margin-right: 10rem;margin-top: -8em;">
    <div style="float: right; text-align: center; margin-top: 25px;">
        <div style="text-align: start; font-size: 14px;">
            <h1><b>Why Book With Us</b></h1><br>
            <p><i class="fas fa-dollar-sign"></i>No-hassle best price guarantee</p>
            <hr>
            <p><i class="fas fa-headphones"></i>Customer care available 24/7</p>
            <hr>
            <p><i class="fas fa-star"></i>Hand-picked Tours & Activities</p>
            <hr>
            <p><i class="fas fa-globe"></i>Free Travel Insureance</p>
            <hr>
        </div>
        <div
            style="float: right; text-align: center;background-color: rgb(13, 179, 245); margin-top: 25px;width: 100%;">
            <div style="text-align: center; font-size: 14px; color: white;padding-left: 10px;">
                <h1><b>Having any Question?</b></h1><br>
                <p>Do not hesitate to give us a call. We are an expert team and we <br> are happy to talk to you
                    anytime.</p><br>
                <div style="color: yellow;">
                    <p><i class="fas fa-phone-alt"></i>+254 712 345</p><br>
                    <p><i class="far fa-envelope"></i><br> Customer@gmail.com</p><br>
                </div>
            </div>
        </div>
    </div>

</div><br><br><br>
{% include 'footer.html' %}
{% endblock %}