{% extends 'base.html' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


{% block content %}
<div style="margin-top: -1.7%;">
    <div style="background-image: url('/static/images/destine.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: white;">
        <h1 style="font-weight:700; font-size:100px;padding-top: 9%;margin-left: 5%;">Masai Mara</h1>
    </div>
</div>
<section style="padding-left: 10%;background-color: whitesmoke;clear: right;margin-top: -1.5%;">
    <div style="float: right; padding-right: 10%; text-align: center;background-color: whitesmoke; margin-top: 25px;">
        <div style="text-align: start; font-size: 14px;">
            <h1><b>Why Book With Us</b></h1><br>
            <p><i class="fas fa-dollar-sign"></i>No-hassle best price guarantee</p>
            <hr>
            <p><i class="fas fa-headphones"></i>Customer care available 24/7</p>
            <hr>
            <p><i class="fas fa-star"></i>Hand-picked Tours & Activities</p>
            <hr>
            <p><i class="fas fa-globe"></i>Free Travel Insureance</p>
            <hr>
        </div>
    </div>
    <div class="py-5" style="width:60%;">
        <div class="card">
            <div class="row py-5">
                <div class="col-md-6">
                    <img src="{{url_for('static', filename='images/Tiger.jpeg')}}" class="w-100">
                </div>
                <div class="col-md-6 px-5">
                    <div class="card-block px-3">
                        <h1 class="card-text"> <b>3 Days Safari in the Wild Side: Hell’s Gate</b> </h1>
                        <hr>
                        <div style="text-align: center;">
                            <h1><b>From $ 1580</b> </h1><br>
                            <a href="/details/hellsgate.html" class="btn btn-primary">VIEW DETAILS
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section style="padding-left: 10%;background-color: whitesmoke;">
    <div class="py-5" style="width:60%;">
        <div class="card">
            <div class="row py-5">
                <div class="col-md-6">
                    <img src="{{url_for('static', filename='images/Tiger.jpeg')}}" class="w-100">
                </div>
                <div class="col-md-6 px-5">
                    <div class="card-block px-3">
                        <h1 class="card-text"> <b>4 Days Masai Mara, Nakuru, Amboseli, Tsavo East & West Lodge
                                Safari</b> </h1>
                        <hr>
                        <div style="text-align: center;">
                            <h1><b>From $ 2050</b> </h1><br>
                            <a href="/details/oldonyo.html" class="btn btn-primary">VIEW DETAILS
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



{% include 'footer.html' %}
{% endblock %}