{% extends 'base.html' %}

{% block content %}


<div style="text-align: center;background-color: rgb(13, 179, 245);width: 100%;">
    <div style="text-align: center; font-size: 14px; color: white;margin-top: -2%;font-size: 20px;"><br><br>
        <h1><b>Having any Question?</b></h1><br>
        <p>Do not hesitate to give us a call. We are an expert team and we are happy to talk to you.</p><br>
        <div style="color: yellow;">
            <p><i class="fas fa-phone-alt"></i>+254 712 345</p><br>
            <p><i class="far fa-envelope"></i><br> Customer@gmail.com</p><br>
        </div>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}