<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
{% block footer %}
<footer id="dk-footer" class="dk-footer" style="background-color: black; color: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-2" style="margin-right: 6%;">
                <div class="dk-footer-box-info">
                    <a href="index.html" class="footer-logo">
                        <img src="https://cdn.pixabay.com/photo/2016/11/07/13/04/yoga-1805784_960_720.png"
                            alt="footer_logo" class="img-fluid">
                    </a>
                    <p class="footer-info-text">
                        Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum
                        generator.
                    </p>
                </div>
            </div>
            <div class="col-md-12 col-lg-8" style="padding-top: 3rem;margin-left: 10%;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-us">
                            <div class="contact-info">
                                <h3>Top Destinations</h3>
                                <p>Maasai Mara</p>
                                <p>Amboseli</p>
                                <p>Tanzania</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact-us contact-us-last">
                            <div class="contact-icon">
                                <i class="fa fa-volume-control-phone" aria-hidden="true"> <b>CONTACT US</b></i>
                            </div>
                            <div class="contact-info">
                                <h3>+254 70 123 456</h3>
                                <p>Give us a call</p>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter" style="padding-left: 10px;"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram" style="padding-left: 10px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}