<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar" style="background-color: rgba(43, 42, 42, 0.856);display: inline-flex;width: 100%;"
                ;>
                <li><a href="/">Home</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
    {% block content %}
    <div class="container-fluid">
        <!--Bootstrap card with slider class-->
        <div id="heritage" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item">
                    <img src="{{url_for('static', filename='Tiger.jpeg')}}"
                        style="height: fit-content;width: fit-content;">
                </div>
                <div class="item">
                    <img src="{{url_for('static', filename='Tiger.jpeg')}}"
                        style="height: fit-content;width: fit-content;">
                </div>
                <div class="item active">
                    <img src="{{url_for('static', filename='Tiger.jpeg')}}"
                        style="height: fit-content;width: fit-content;">
                </div>
            </div>
            <!--slider control for card-->
            <a class="left carousel-control" href="#heritage" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
            <a class="right carousel-control" href="#heritage" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right">
                </span>
            </a>
        </div>
    </div>
    {% endblock %}
</div>